<md-toolbar>
  <div class="md-toolbar-tools">
    <p><strong>ngMusic</strong></p>

    <md-button ng-click="openSidebar()">
      New Track
    </md-button>
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-toolbar>
  <h1 class="md-toolbar-tools">Add a Genre</h1>
  </md-toolbar>
  <md-content layout-padding>
    
    <form>
      <md-input-container class="md-block">
        <label for="genre">Genre</label>
        <input type="text" id="genre" ng-model="genre.name" md-autofocus>
      </md-input-container>
      <md-button ng-click="createTrack(genre)" class="md-primary">
      Save
      </md-button>
      <md-button ng-click="closeSidebar()" class="md-warn">
      Cancel
      </md-button>

      <!-- <pre>{{ item | json }}</pre> -->
    </form> 
  </md-content> 
</md-sidenav>

<h3 class="text-center">Genre</h3>
<!-- </div> -->

<div class="col-sm-4">
  <!-- <a ng-href="#/new" class="btn btn-primary">Add New Genre</a> -->
</div>

<div class="col-sm-4 list">
  
    <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
    <input type="text" class="form-control search" placeholder="Search Genre" ng-model="search.name">  
  
  <div class="list-group" ng-repeat="n in genres | filter: search">
    <a href="#/" class="list-group-item"> 
      <!-- <div class="row"> -->
      {{n.name}} 
        
    </a>
  </div>
</div>

